@model IEnumerable<Gateau>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @if (Model != null)
    {
        @foreach (var gateau in Model)
        {
            var imagePath = $"~/img/{gateau.UrlImage}";

            <div class="col-md-4">
                <div class="gateau-card card d-flex flex-column card-height">
                    <img src="@Url.Content(imagePath)" class="card-img-top mb-3 border p-4" alt="Image du gâteau">
                    <div class="card-body">
                        <h3 class="card-title">@gateau.Nom</h3>
                        <p class="card-text">@gateau.Description</p>
                    </div>
                    <div class="mt-auto button">
                        <a href="@Url.Action("Ingredients", "Gateau", new { id = gateau.Id })" class="btn btn-primary mt-auto">Voir les ingrédients</a>
                        <a href="@Url.Action("Delete", "Gateau", new { id = gateau.Id })" class="btn btn-danger mt-auto">Supprimer</a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>Aucun gâteau n'est disponible pour l'instant, mange autre chose.</p>
    }
</div>

<!-- Bouton pour ajouter un gâteau -->
<div class="add d-flex justify-content-center">
    <a href="@Url.Action("Create", "Gateau")" class="btn btn-outline-success">Ajouter un gâteau</a>
</div>


